# Laravel binaries
/vendor
/node_modules

# Composer dependencies
composer.lock

# IDE settings
.idea

# Runtime data
/storage/logs

# Public files
/public/hot

# Laravel Mix
/public/mix-manifest.json
/public/js/*.js
/public/css/*.css

# Miscellaneous
*.pyc
*.pyo
*.log

# Bundle size report
bundle-size.json